.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#attraction img {
            border-radius: 8px;
        }
        #attraction {
            padding:8px;
            border-radius: 8px;
            border: 2px solid gray;
            display: inline-block;
        }
        .attraction #name {
            font-size: 25px;
            font-weight: bold;
            
        }
        .checked {
            color:orange;
        }
        .unchecked {
            color:gray;
        }
        #add-to-list {
            background-color: #e7e7e7;
            font-size: 16px;
            padding: 16px;
            border-radius: 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
        }
        #add-to-list:hover {
            background-color: orange;
            color: white;
        }
        #buttondiv {
            display: flex;
            justify-content: center;
            align-items: center;
        }
.logo { 
         background: url("./assets/img/logo.jpg") no-repeat; 
         width: 100px; 
         height: 100px; 
         display: block; 
         visibility:  visible;
         border-radius: 50%;
         
}
.img {
    width: 100px; 
    height: 100px;
}

.img-thumbnail {
  background: url("./assets/img/logo.jpg") no-repeat; 
}