#left-panel select,
#left-panel input {
  font-size: 15px;
}

#left-panel select {
  width: 100%;
}

#left-panel i {
  font-size: 12px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  float: left;
  width: 70%;
}

#left-panel {
  line-height: 30px;
  padding-left: 10px;
  margin: 20px;
  border-width: 2px;
  width: 20%;
  height: 400px;
  float: left;
  text-align: left;
  padding-top: 0;
}

#directions-panel {
  margin-top: 10px;
  background-color: #fe7;
  padding: 10px;
  overflow: scroll;
  height: 600px;
}
